a:active{ /* it means the anchor tag is selected at the moment when it is clicked only 
    by default link changes to red when it is clicked but we may chenge that to blue also our choice 
    , in this way we can see other states or other pesudo classes */
    text-decoration:none;
    font-size: 20px;
    color:blue 
} 
/*

a:visited{
    text-decoration:none;
    font-size: 10px;
    /*
}
a:hover{
    text-decoration:none;
    font-size: 10px;
    /*
}
a:active{
    text-decoration:none;
    font-size: 10px;
    /*background-color:blue;*/
}